body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1338px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:613px;
}
#u635_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:613px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u635_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:90px;
  width:718px;
  height:73px;
  display:flex;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#3311D4;
  text-align:right;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:90px;
  width:73px;
  height:73px;
  display:flex;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#3311D4;
  text-align:right;
}
#u638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:90px;
  width:288px;
  height:73px;
  display:flex;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u635_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:613px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u635_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:484px;
  background:inherit;
  background-color:rgba(249, 249, 249, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#F60068;
  text-align:right;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:1338px;
  height:484px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#F60068;
  text-align:right;
}
#u640 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:70px;
  background:inherit;
  background-color:rgba(249, 249, 249, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#F60068;
  text-align:right;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1338px;
  height:70px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#F60068;
  text-align:right;
}
#u641 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:60px;
  background:inherit;
  background-color:rgba(32, 31, 79, 0.988235294117647);
  border:none;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:60px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u642 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:54px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:72px;
  width:61px;
  height:54px;
  display:flex;
}
#u643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u643_img.mouseOver {
}
#u643.mouseOver {
}
#u643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u645_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
  padding:2px 4px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#1D07A6;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u645_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
  padding:2px 4px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#1D07A6;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u645_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
  padding:2px 4px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#1D07A6;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-bottom:0px;
  border-radius:7px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:129px;
  width:162px;
  height:37px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u645 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u645_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
  background:inherit;
  background-color:rgba(227, 255, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-bottom:0px;
  border-radius:7px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u645.mouseOver {
}
#u645_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-bottom:0px;
  border-radius:7px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u645.disabled {
}
#u646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u647_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  padding:2px 4px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u647_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  padding:2px 4px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-top:0px;
  border-radius:7px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8C8C8C;
  text-align:right;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:166px;
  width:162px;
  height:30px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8C8C8C;
  text-align:right;
}
#u647 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u647_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-top:0px;
  border-radius:7px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8C8C8C;
  text-align:right;
}
#u647.disabled {
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:395px;
  width:1px;
  height:5px;
  display:flex;
}
#u648 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u649_input {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u649_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:39px;
  background:inherit;
  background-color:rgba(80, 132, 242, 0.96078431372549);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:227px;
  width:363px;
  height:39px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u649_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u649.disabled {
}
#u650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:233px;
  width:1px;
  height:6px;
  display:flex;
}
#u650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u651_input {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:112px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u651_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:112px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:112px;
  background:inherit;
  background-color:rgba(206, 197, 197, 0.0980392156862745);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
  text-align:right;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:265px;
  width:363px;
  height:112px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
  text-align:right;
}
#u651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u651_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:112px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
  text-align:right;
}
#u651.disabled {
}
#u652_input {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:37px;
  padding:2px 50px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u652_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:37px;
  padding:2px 50px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:37px;
  background:inherit;
  background-color:rgba(80, 132, 242, 0.96078431372549);
  border:none;
  border-top:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:right;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:377px;
  width:363px;
  height:37px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:right;
}
#u652 .text {
  position:absolute;
  align-self:center;
  padding:2px 50px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u652_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-top:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:right;
}
#u652.disabled {
}
#u653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:274px;
  width:126px;
  height:26px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u653 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:305px;
  width:126px;
  height:26px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u654 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:333px;
  width:126px;
  height:26px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u655 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFF;
  text-align:right;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:383px;
  width:50px;
  height:26px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FEFEFF;
  text-align:right;
}
#u656 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F60068;
  text-align:right;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:414px;
  width:362px;
  height:21px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F60068;
  text-align:right;
}
#u657 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:377px;
  width:1px;
  height:37px;
  display:flex;
}
#u658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
  background:inherit;
  background-color:rgba(49, 149, 101, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:378px;
  width:99px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u659 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u659_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
  background:inherit;
  background-color:rgba(49, 149, 101, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u659.mouseOver {
}
#u659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:395px;
  width:1px;
  height:5px;
  display:flex;
}
#u660 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u661_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:39px;
  background:inherit;
  background-color:rgba(93, 200, 66, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:227px;
  width:363px;
  height:39px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u661_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u661.disabled {
}
#u662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:233px;
  width:1px;
  height:6px;
  display:flex;
}
#u662 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u663_input {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:112px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u663_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:112px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:112px;
  background:inherit;
  background-color:rgba(206, 197, 197, 0.101960784313725);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
  text-align:right;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:265px;
  width:363px;
  height:112px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
  text-align:right;
}
#u663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u663_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:112px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
  text-align:right;
}
#u663.disabled {
}
#u664_input {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:37px;
  padding:2px 50px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u664_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:37px;
  padding:2px 50px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:37px;
  background:inherit;
  background-color:rgba(93, 200, 66, 1);
  border:none;
  border-top:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:right;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:377px;
  width:363px;
  height:37px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:right;
}
#u664 .text {
  position:absolute;
  align-self:center;
  padding:2px 50px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u664_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-top:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:right;
}
#u664.disabled {
}
#u665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:274px;
  width:126px;
  height:26px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u665 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:305px;
  width:126px;
  height:26px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u666 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:333px;
  width:126px;
  height:26px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u667 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F6F6F6;
  text-align:right;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:383px;
  width:43px;
  height:26px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F6F6F6;
  text-align:right;
}
#u668 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:395px;
  width:1px;
  height:5px;
  display:flex;
}
#u669 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u670_input {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u670_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:39px;
  background:inherit;
  background-color:rgba(219, 72, 72, 0.996078431372549);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:227px;
  width:363px;
  height:39px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u670_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u670.disabled {
}
#u671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:233px;
  width:1px;
  height:6px;
  display:flex;
}
#u671 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u672_input {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:112px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u672_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:112px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:112px;
  background:inherit;
  background-color:rgba(206, 197, 197, 0.101960784313725);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
  text-align:right;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:265px;
  width:363px;
  height:112px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
  text-align:right;
}
#u672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u672_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:112px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F7F7F;
  text-align:right;
}
#u672.disabled {
}
#u673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:37px;
  padding:2px 50px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u673_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:37px;
  padding:2px 50px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:37px;
  background:inherit;
  background-color:rgba(219, 72, 72, 0.996078431372549);
  border:none;
  border-top:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:right;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:377px;
  width:363px;
  height:37px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:right;
}
#u673 .text {
  position:absolute;
  align-self:center;
  padding:2px 50px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u673_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-top:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:right;
}
#u673.disabled {
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:274px;
  width:126px;
  height:26px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u674 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:305px;
  width:126px;
  height:26px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u675 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:333px;
  width:126px;
  height:26px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D07A6;
  text-align:right;
}
#u676 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F6F6F6;
  text-align:right;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:383px;
  width:43px;
  height:26px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F6F6F6;
  text-align:right;
}
#u677 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
  background:inherit;
  background-color:rgba(93, 200, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:#0200FF;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:377px;
  width:68px;
  height:37px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:#0200FF;
}
#u678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
  background:inherit;
  background-color:rgba(219, 72, 72, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:#0200FF;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:377px;
  width:68px;
  height:37px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:#0200FF;
}
#u679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
  background:inherit;
  background-color:rgba(246, 0, 104, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:75px;
  width:140px;
  height:45px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u680_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
  background:inherit;
  background-color:rgba(246, 0, 104, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u680.mouseOver {
}
#u680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
